*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0000;
    scroll-behavior: smooth;
}

body{
    margin: none;
    background-color: ;

}

a{
    color: white;
    text-decoration: none;
    transition: all 1s ease 0s;
}

a:hover{
    text-decoration: underline;
    color: yellow;
}

/* Header e afins */

header{
    display: flex;
    position: absolute;
    z-index: 1;
    padding-top: none;
    transform: scale(0.9);
    min-width: 100dvh;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(4, 43, 21, 1) 50%, rgba(0, 0, 0, 1) 100%);  
    color: white;
    margin: none;
    border-radius: 30px;
    position: sticky;
    top: 10px;
    filter: drop-shadow(0 0 0.50rem black);
}


.logo>h1{
    padding-left: 40px;
    padding-bottom: 15px;
    width: auto;
    height: auto;
}

li{
    display: inline-block;
    font-size: 30px;
    padding: 0px 20px;
    font-weight: 800;
}



/* Corpo do site */


.firstimage>img{
    display: flex;
    align-self: self-start;
    width: 199dvh;
    /* height: ; */
    margin-top: -120px;
    border-radius: 20px;
    background-color: #000;

}

.imagezin{
    display: flex;
    
}

.hope{
    position: absolute;
    display: flex;
    justify-content: right;
    color: #ffff;
    padding-top: 80dvh;
    padding-left: 50dvh;
    margin-right: -200px;
    justify-self: right;
    max-width: 1000px;
    flex-flow: column;
    flex-wrap: wrap;
}

.hope> h1, p{
    
    margin-right: -800px;
    margin-left: 500px;
    font-size: 30px;
    filter: drop-shadow(0 0 0.45rem black)
    
}

.hope> p{
    font-family: "Quicksand", sans-serif;
}

h1{
    font-family: "Climate Crisis", sans-serif;
    letter-spacing: 5px;
}

/* segunda parte */
/* Ta vendo esse código professor? 😠 */

.secondimage>img{
    display: flex;
    align-self: self-start;
    width: 199dvh;
    /* height: ; */
    margin-top: -120px;
    border-radius: 20px;
    background-color: #000;
    

}

.imagezinha{
    display: flex;
    
}

.hopes{
    position: absolute;
    display: flex;
    justify-content: right;
    color: #ffff;
    padding-top: 80dvh;
    padding-left: 50dvh;
    margin-right: -200px;
    justify-self: right;
    max-width: 1000px;
    flex-flow: column;
    flex-wrap: wrap;
}

.hopes> h1, p{
    
    margin-right: -800px;
    margin-left: 500px;
    font-size: 30px;
    filter: drop-shadow(0 0 0.45rem black)
    
}

.hopes> p{
    font-family: "Quicksand", sans-serif;
}

/* Aqui a segunda imagem */

.secondimage>img{
    display: flex;
    align-self: self-start;
    width: 199dvh;
    /* height: ; */
    margin-top: -120px;
    border-radius: 20px;
    background-color: #000;
    

}

.imagezinha{
    display: flex;
    
}

.hopes{
    position: absolute;
    display: flex;
    justify-content: right;
    color: #ffff;
    padding-top: 80dvh;
    padding-left: 50dvh;
    margin-right: -200px;
    justify-self: right;
    max-width: 1000px;
    flex-flow: column;
    flex-wrap: wrap;
}

.hopes> h1, p{
    
    margin-right: -800px;
    margin-left: 500px;
    font-size: 30px;
    filter: drop-shadow(0 0 0.45rem black)
    
}

.hopes> p{
    font-family: "Quicksand", sans-serif;
}


/* Terceira parte lá */

.thirdimage>img{
    display: flex;
    align-self: self-start;
    width: 199dvh;
    /* height: ; */
    margin-top: -120px;
    border-radius: 20px;
    background-color: #000;
    

}

.imagezinhaa{
    display: flex;
    
}

.hopess{
    position: absolute;
    display: flex;
    justify-content: right;
    color: #ffff;
    padding-top: 80dvh;
    padding-left: 50dvh;
    margin-right: -200px;
    justify-self: right;
    max-width: 1000px;
    flex-flow: column;
    flex-wrap: wrap;
}

.hopess> h1, p{
    
    margin-right: -800px;
    margin-left: 500px;
    font-size: 30px;
    filter: drop-shadow(0 0 0.45rem black)
    
}

.hopess> p{
    font-family: "Quicksand", sans-serif;
}